
.card {
    display: inline-block;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;
}

.card__content {
    background: rgb(5, 6, 45);
    border-radius: 17px;
    display: inline-block;
}

.card__content img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 17px;
}
